<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="{{ asset('bundles/nomina/images/logo.png')}}?v=1234" />
        <title>{% block title %}Inicio{% endblock %}</title>

        {% block head_style %}
            {% stylesheets filter='?yui_css,css_url_rewrite'
           '@NominaBundle/Resources/public/css/bootstrap.css'
           '@NominaBundle/Resources/public/css/sb-admin.css'
           '@NominaBundle/Resources/public/css/jquery-ui.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
        {% endblock %}

    </head>
    <body>

    <body style="height: 100%">

        <div id="wrapper" style="height: 100%">
            <nav class="navbar navbar-inverse navbar-fixed-top headCustomer" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <div class="navbar-header" style="width: 100%">
                            <a href="javascript:">
                                <figure class="logotype pull-left">
                                    <img alt="Nomina" src="{{asset('bundles/nomina/images/logo.png')}}">
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="menuScroll collapse navbar-collapse navbar-ex1-collapse"></div>
            </nav>

            <div id="page-wrapper" style="height: 100%">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% block javascripts %}
            {% javascripts
        '@NominaBundle/Resources/public/js/jquery-3-0-1.min.js'
        '@NominaBundle/Resources/public/js/jquery-ui.js'
        '@NominaBundle/Resources/public/js/bootstrap.min.js'
        '@NominaBundle/Resources/public/js/bootbox.min.js'
        '@NominaBundle/Resources/public/js/jquery.number.min.js'
            %}

            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock javascripts %}

        <script type="text/javascript">
            $(document).ready(function () {
                $('.number_format').number(true, 0);

                $('.title-case').keyup(function () {
                    var text = $(this).val();
                    text = text.replace(/\w\S*/g, function (txt) {
                        return txt.charAt(0).toUpperCase() + txt.substr(1);
                    });
                    $(this).val(text);
                });

            {% block scripts %}
            {% endblock %}
                });

            {% block jsfunctions %}
            {% endblock %}
        </script>

    </body>
</html>
